{% extends 'layout.html' %}

{% block body %}



<div class="dashboard-item" data-aos="fade-up" data-aos-delay="900" style="display:flex; background-color:#62B9F1;">

  <h6 class="dashboard-item-text" style="border-style:solid; border-width:2px; margin-top:10px; padding:10px; border-color:blue;"><b>13 Students</b></h6> 
  <p class="text-muted"><span style="color:#000;">New COVID-19 updates for patients</span><br>All Patients are commended to take the vaccine to ensure saftey</p>
 

 <a href="/list"> <h4 class="dashboard-item-text" style="background-color:#4169E1; border-radius:6px; margin-top:10px; padding:15px; font-size:17px;" ><i class='bx bx-group icon' ></i> Students</h4> </a>
</div>

 
  <div class="row" style="justify-content: space-between; "  >
    <div class="col-md-3 col-6 " >
      <div class="dashboard-item" data-aos="fade-up" style=" background-color:#78F7DA;" >
        <div class="dash" style="display:flex; justify-content: space-between; " >
          <p class="text-muted">Blood Pressure</p>
          <i class='bx bx-group icon' style="color:#000; font-size:20px;" ></i> 
        </div>
        <h4 class="dashboard-item-text" style="border-style:solid; border-width:2px; margin-top:10px; padding:10px; border-color:blue;" ><b>32 Students</b></h4> 
      </div>
    </div>
    <div class="col-md-3 col-6 ">
      <div class="dashboard-item" data-aos="fade-up" data-aos-delay="300" style=" background-color:#F7B878;" >
        <div class="dash" style="display:flex; justify-content: space-between;" >
          <p class="text-muted">Fever</p>
          <i class='bx bx-group icon' style="color:#000; font-size:20px;" ></i> 
        </div>
        <h4 class="dashboard-item-text" style="border-style:solid; border-width:2px; margin-top:10px; padding:10px; border-color:blue;"><b>23 Students</b></h4> 
      </div>
    </div>
    <div class="col-md-3 col-6 ">
      <div class="dashboard-item" data-aos="fade-up" data-aos-delay="300" style=" background-color:#EAA2A2;" >
        <div class="dash" style="display:flex; justify-content: space-between;" >
          <p class="text-muted">Sugar Rate</p>
          <i class='bx bx-group icon' style="color:#000; font-size:20px;" ></i> 
        </div>
        <h4 class="dashboard-item-text" style="border-style:solid; border-width:2px; margin-top:10px; padding:10px; border-color:blue;" ><b>73 Students</b></h4> 
      </div>
    </div>
    <div class="col-md-3 col-6 ">
      <div class="dashboard-item" data-aos="fade-up" data-aos-delay="900" style=" background-color:#E678F7;" >
        <div class="dash" style="display:flex; justify-content: space-between;" >
          <p class="text-muted">Heart Rate</p>
          <i class='bx bx-group icon' style="color:#000; font-size:20px;" ></i> 
        </div>
        <h4 class="dashboard-item-text" style="border-style:solid; border-width:2px; margin-top:10px; padding:10px; border-color:blue;"><b>13 Students</b></h4> 
      </div>
    </div>
  </div>
<!--Chart-->
 

<div class="row" style="justify-content: space-between; ">
  <div class="col-md-4 col-6 " style="">
    <div class="dashboard-item" data-aos="fade-up" style=" background-color:#62B9F1;" >
      <div class="set" style="display:flex; justify-content:space-between; ">
      <p style="color:blue;">Appointments</p>
      <h4 class="dashboard-item-text" style="background-color:blue; color:#fff; padding:2px; border-radius:4px;" ><b>12</b></h4> 
      </div>
      <div class="set" style="display:flex; justify-content:space-between;">
        <p class="text-muted">Date</p>
        <p class="text-muted">Time</p>
        </div>
        <div class="set" style="display:flex; justify-content:space-between;">
          <p style="color:#000; font-size:13px;">Friday 17 May,2022</p>
          <h4 style="color:#000; font-size:13px;"> <b>9:30am - 11:30am</b></h4> 
          </div>
          <div class="set" style="display:flex; justify-content:space-between;">
            <p class="text-muted">Student</p>
            <p class="text-muted">Report</p>
            </div>
            <div class="set" style="display:flex; justify-content:space-between;">
              <p style="color:#000; font-size:13px;">John Mensah</p>
              <h4 style="color:#000; font-size:13px;"> <b>Asthma</b></h4> 
              </div>
              <div class="set" style="display:flex; justify-content:space-between;">
                <p style="color:#000; font-size:13px;">John Mensah</p>
                <h4 style="color:#000; font-size:13px;"> <b>Asthma</b></h4> 
                </div>
                <div class="set" style="display:flex; justify-content:space-between;">
                  <p style="color:#000; font-size:13px;">John Mensah</p>
                  <h4 style="color:#000; font-size:13px;"> <b>Asthma</b></h4> 
                  </div>
                  <div class="set" style="display:flex; justify-content:space-between;">
                    <p class="text-muted" style=" font-size:13px;">cancel</p>
                    <p class="text-muted" style=" font-size:13px;">Reschedule</p>
                    </div>
              
     
    </div>
    
  </div>
  <div class="col-md-8 col-6 ">
    <div class="dashboard-item" data-aos="fade-up" data-aos-delay="300">
      <p style="color:#000;">Recent Activity</p>

      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             Doctors Report on students health
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
             CU Pharmacy
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Dr Mills: changed the administration time
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>  
     
    
      
    </div>
  </div>
 
 
</div>
 <!-- <div class="dashboard-item" data-aos="fade-up" data-aos-delay="1200">
    <h4>Student Chart View This Month </h4>
    <div id="chart_div"></div>
  </div>-->
<!---->

    <div class="row" style="justify-content: space-between;">

      <div class="col-md-3 ">
        <div class="dashboard-item" data-aos="fade-up" >

          <div class="profile-details" style=" bottom: 0; padding-top: 20%;">
            <div class="elipse" style="background: #992621; border-radius: 50%;">
              <img src="static/img/memoji.png" alt="" width="100%" >
            </div>

            <div class="profile-info" style="padding-left: 10px;">
              <div class="profile-name"><b><h6>Dr Sandra Kakra</h6></b> </div>
              <div class="title">Doctor</div>
            </div>
            
          
          </div>
          <p class="text-muted">Available Doctor</p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
            <h6 style="color:#000;"> Available</h6>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              <h6 style="color:#000;"> Unavailable</h6>
            </label>
          </div>
          <h4 class="dashboard-item-text" ><b></b></h4> 
        </div>
      </div>






  <!--doctor2-->
      <div class="col-md-3 ">
        <div class="dashboard-item" data-aos="fade-up" >

          <div class="profile-details" style=" bottom: 0; padding-top: 20%;">
            <div class="elipse" style="background: #992621; border-radius: 50%;">
              <img src="static/img/memoji.png" alt="" width="100%" >
            </div>

            <div class="profile-info" style="padding-left: 10px;">
              <div class="profile-name"><b><h6>Dr Ohene Mills</h6></b> </div>
              <div class="title">Doctor</div>
            </div>
            
          
          </div>
          <p class="text-muted">Available Doctor</p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
            <h6 style="color:#000;"> Available</h6>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              <h6 style="color:#000;"> Unavailable</h6>
            </label>
          </div>
          <h4 class="dashboard-item-text" ><b></b></h4> 
        </div>
      </div>

      <div class="col-md-3 ">
        <div class="dashboard-item" data-aos="fade-up" >

          <div class="profile-details" style=" bottom: 0; padding-top: 20%;">
            <div class="elipse" style="background: #992621; border-radius: 50%;">
              <img src="static/img/memoji.png" alt="" width="100%" >
            </div>

            <div class="profile-info" style="padding-left: 10px;">
              <div class="profile-name"><b><h6>Dr Herbert Mensah</h6></b> </div>
              <div class="title">Doctor</div>
            </div>
            
          
          </div>
          <p class="text-muted">Available Doctor</p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
            <h6 style="color:#000;"> Available</h6>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              <h6 style="color:#000;"> Unavailable</h6>
            </label>
          </div>
          <h4 class="dashboard-item-text" ><b></b></h4> 
        </div>
      </div>

      <div class="col-md-3 ">
        <div class="dashboard-item" data-aos="fade-up" >

          <div class="profile-details" style=" bottom: 0; padding-top: 20%;">
            <div class="elipse" style="background: #992621; border-radius: 50%;">
              <img src="static/img/memoji.png" alt="" width="100%" >
            </div>

            <div class="profile-info" style="padding-left: 10px;">
              <div class="profile-name"><b><h6>Dr Martin luther</h6></b> </div>
              <div class="title">Doctor</div>
            </div>
            
          
          </div>
          <p class="text-muted">Available Doctor</p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
            <h6 style="color:#000;"> Available</h6>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              <h6 style="color:#000;"> Unavailable</h6>
            </label>
          </div>
          <h4 class="dashboard-item-text" ><b></b></h4> 
        </div>
      </div>

 <!--

  <h4>Recently Graduated</h4>
  <br>
  <div class="dashboard-item" data-aos="fade-up" data-aos-delay="1500">
    <table class="table" >
      <thead style="color: #992621;">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
 -->
    


 
  
  
<!--  
  

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawCurveTypes);

function drawCurveTypes() {
    var data = new google.visualization.DataTable();
    data.addColumn('number', 'X');
    data.addColumn('number', 'Dogs');
    data.addColumn('number', 'Cats');

    data.addRows([
      [0, 0, 0],    [1, 10, 5],   [2, 23, 15],  [3, 17, 9],   [4, 18, 10],  [5, 9, 5],
      [6, 11, 3],   [7, 27, 19],  [8, 33, 25],  [9, 40, 32],  [10, 32, 24], [11, 35, 27],
      [12, 30, 22], [13, 40, 32], [14, 42, 34], [15, 47, 39], [16, 44, 36], [17, 48, 40],
      [18, 52, 44], [19, 54, 46], [20, 42, 34], [21, 55, 47], [22, 56, 48], [23, 57, 49],
      [24, 60, 52], [25, 50, 42], [26, 52, 44], [27, 51, 43], [28, 49, 41], [29, 53, 45],
      [30, 55, 47], [31, 60, 52], [32, 61, 53], [33, 59, 51], [34, 62, 54], [35, 65, 57],
      [36, 62, 54], [37, 58, 50], [38, 55, 47], [39, 61, 53], [40, 64, 56], [41, 65, 57],
      [42, 63, 55], [43, 66, 58], [44, 67, 59], [45, 69, 61], [46, 69, 61], [47, 70, 62],
      [48, 72, 64], [49, 68, 60], [50, 66, 58], [51, 65, 57], [52, 67, 59], [53, 70, 62],
      [54, 71, 63], [55, 72, 64], [56, 73, 65], [57, 75, 67], [58, 70, 62], [59, 68, 60],
      [60, 64, 56], [61, 60, 52], [62, 65, 57], [63, 67, 59], [64, 68, 60], [65, 69, 61],
      [66, 70, 62], [67, 72, 64], [68, 75, 67], [69, 80, 72]
    ]);

    var options = {
      hAxis: {
        title: 'Time'
      },
      vAxis: {
        title: 'Popularity'
      },
      series: {
        1: {curveType: 'function'}
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>-->

{% endblock body %}