<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/new.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new .css')}}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Campus Ministry</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    
  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="/static/images/logo/favicon.ico" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="/static/css/style-prefix.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </head>
  <body>

    <script src="//code.tidio.co/z46yutguynyvhsigmqopusi6j8nnpg2c.js" async></script>

<div class="container" >

  
  <!--nav-bar-slider-->
  <nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
      <h5 style=" color: #5454c9;" ><b>Good Morning, Ohene <b> </h5>
  
      
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"  style="  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,84,201,1) 0%, rgba(0,212,255,1) 100%);">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" >
        <div class="offcanvas-header">
          <h3 class="offcanvas-title" id="offcanvasNavbarLabel" style="background-color:gray; padding:7px; width:90px; border-radius:30px; text-align:center; ">App </h3>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"><h1><b>More</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#"><h4> Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><h4>Verse of the day</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><h4>Prayer Wall</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Course</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
              <li class="nav-item">
                <a class="nav-link" href="#"><h4>Videos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><h4>Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><h4>Highlight</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><h4>Notes</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="#"><h4>Tithes and Offetory</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><h4>Setting</a>
              </li>
            </li>
          </ul>
         
        </div>
      </div>
    </div>
  </nav>
<!--end of navbar-->


<!--hero section-->
  <div class="row" style=" border-radius:0 0 0 150px; padding: 20px; background: #992621;">
    <h6 class="text-muted"  >Project Outline</h6>
    <div class="ade" style="display: flex; justify-content: space-between; margin-top:10px;">
      <a href="" style="text-decoration: none; color: #fff; margin-top:40px; margin-right:px;">
       <h5><b>Central University<br> Campus Ministry<b></h5>
       <h6>bless you </h6>
       <button class="btn" style="color: #fff; background: #ee8080; border: none; margin-left: 2vw; border-radius:10px;" type="submit">Download</button>

     </a>
         <img src="static/images/cta-banner.jpg" alt=""style="width:160px;margin-top:20px;object-fit:cover; border-radius:10px; height:150px;"  >
    </div>
  </div>
  <!--end of hero-->
  <br>

<!--download outline-->
<div class="ade"  >
  <div class="ade"style="display: flex; justify-content: space-between;  background-color: #fff; padding:30px; border-radius:20px; margin-bottom:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
<button class="btn" style="color: #fff; background: #ee8080; border: none; margin-left: 2vw; border-radius:20px;" type="submit">+ Download Outline</button>
<a href="" style="text-decoration: none;  text-align:center; color: #fff;">
<h1>...</h1>
</a>
</div>
</div>
<!--end of outline-->



<!--ministries row-->

<div class="ade" style="  padding:30px; border-radius:20px;  background-color: #fff; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
margin-bottom:20px; ">

    <div class="ade"style="display: flex; justify-content: space-between;  ">
       
      <h5>MINISTRIES</h5>

<a href="" style="text-decoration: none;  text-align:center; color: #fff;">
  <h1>...</h1>
</a>
</div>

<div class="ade"style="display: flex; justify-content: space-between;  background-color: #b2becc; background-color: #b2becc; padding:30px; border-radius:10px;">
       
  <a href="" style="text-decoration: none;  text-align:center; color: #fff;">
    <img src="static/images/cta-banner.jpg" alt=""style="width:100%; height:100%; border-radius:10px;"  >  
  </a>

  <h6 style="margin-left:20px;">CAMPUS MINISTRIES<br> <br><br> <br>
    <a href="" style="text-decoration: none;  text-align:center; color: #fff; background-color:#ee8080; padding:13px; border-radius:30px;">
  <b>Explore</b>
  </a>
  </h6>
</div>

<div class="ade"style="display: flex; justify-content: space-between;margin-top:30px;  ">
       
  <h6>+ Join Us Today</h6>

<a href="" style="text-decoration: none;  text-align:center; color: #000;">
<h6>MY PRAYER</h6>
</a>
</div>
 
  
</div>

<!--end of ministries-->






<!--verse of the day-->
<div class="ade" style=" background-color: #fff; background-color: #fff; padding:30px; border-radius:20px; 
background-color: #fff; padding:30px; border-radius:20px; margin-bottom:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; ">
    <div class="ade"style="display: flex; justify-content: space-between;  ">
      <h5>VERSE OF THE DAY</h5>
<a href="" style="text-decoration: none;  text-align:center; color: #fff;">
  <h1>...</h1>
</a>
</div>
<div class="ade"style="display: flex; justify-content: space-between;  "> 
  <h5>Be Strong and couragous. Do not be afraid or terrified
    of them, for the lord your God is with you.
  </h5>
<a href="" style="text-decoration: none;  text-align:center; color: #fff;">
  <img src="static/images/cta-banner.jpg" alt=""style="width:160px; height:190px; border-radius:10px; object-fit:cover;"  >  
</a>
</div><br>
<h6><b>Dueteronomy 31:6 NIV</b></h6><br>

<div class="row" style="text-align: center; margin: auto; display:flex; overflow: auto;">
  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
      <a href="/userbase" style="text-decoration: none; background-color:#992621; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff;">Prayer</h4>
      </a>
        <h6 class="text-muted">20 Days</h6> 
    </div>
  </div>
  
  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
      <a href="/usernewform" style="text-decoration: none;">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff;">Worship</h4>
      </a>
        <h6 class="text-muted">12 Days</h6> 
    </div>
  </div>

  <div class="ade"style="display: flex; justify-content: space-between;  ">
       
    <h6># SEND ME THIS DAILY</h6>

<a href="" style="text-decoration: none;  text-align:center; color: #fff;">
<h6 class="text-muted">Not now</h6>
</a>
</div>
  
</div>
</div>
<!--end of verse-->



<!--photo album-->

<div class="ade" style=" background-color: #fff; background-color: #fff; padding:30px; border-radius:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: #fff; padding:30px; border-radius:20px; margin-bottom:30px;  ">

    <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:30px;  ">
      <img src="static/images/cta-banner.jpg" alt=""style="width:100%; height:100%; border-radius:0 30px 0 30px"  > 
</a>
     


</div>
<div class="ade"style="display: flex; justify-content: space-between;  ">
  <h6 style="margin-bottom:30px; "><b>FEATURED
  </b></h6>
<a href="" style="text-decoration: none;  text-align:center; color: #fff;"></a>
</div>
<div class="row" style="text-align: center; margin: auto; display:flex; overflow: auto;">

  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
      <a href="/userbase" style="text-decoration: none; ">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff;">Photos</h4>
      </a>
        <h6 class="text-muted">312</h6> 
    </div>
  </div>
  
  <div class="col">
    <div class="user-box" style="text-decoration: none; background-color:#992621; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
      <a href="/usernewform" style="text-decoration: none;">
        <h4 class="user-box-items" style=" font-weight: bold; color:#fff;">Videos</h4>
      </a>
        <h6 class="text-muted">221</h6> 
    </div>
  </div>
</div>
</div>
<!--end of photo album-->





<!--Peer Counsellors-->

<div class="ade" style="  padding:30px; border-radius:20px;  background-color: #fff; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
margin-bottom:20px; ">
    <div class="ade"style="display: flex; justify-content: space-between;  ">
      <h5>Counsellors</h5>
<a href="" style="text-decoration: none;  text-align:center; color: #fff;">
  <h1>...</h1>
</a>
</div>
<div class="ade"style="display: flex; justify-content: space-between;  background-color: #b2becc; background-color: #b2becc; padding:30px; border-radius:10px;"> 
  <a href="" style="text-decoration: none;  text-align:center; color: #fff;">
    <img src="static/images/cta-banner.jpg"  alt=""style="width:120px; object-fit:cover; border-radius:10px; height:180px;"  >  
  </a>
  <h6 style="margin-left:20px;">PEER COUNSELLORS CORNER<br> <br>We Care about you.<br> <br>
    <a href="" style="text-decoration: none;  text-align:center; color: #fff; background-color:#ee8080; padding:13px; border-radius:30px;">
  <b>Talk to us.</b>
  </a>
  </h6>
</div>
<div class="ade"style="display: flex; justify-content: space-between;margin-top:30px;  "> 
  <h6>+ ADD REQUEST</h6>
<a href="" style="text-decoration: none;  text-align:center; color: #000;">
<h6>MY PRAYER</h6>
</a>
</div>
</div>

<!--end of peer Counsellors-->




<div class="mobile-bottom-navigation">

  <button class="action-btn" data-mobile-menu-open-btn>
    <ion-icon name="menu-outline"></ion-icon>
  </button>

  <button class="action-btn">
    <ion-icon name="bag-handle-outline"></ion-icon>

    <span class="count">30</span>
  </button>

  <button class="action-btn">
    <ion-icon name="home-outline"></ion-icon>
  </button>

  <button class="action-btn">
    <ion-icon name="heart-outline"></ion-icon>

    <span class="count">60</span>
  </button>

  <button class="action-btn" data-mobile-menu-open-btn>
    <ion-icon name="grid-outline"></ion-icon>
  </button>

</div>




<!--box-->
<div class="row" style="text-align: center; margin: auto; ">
    <div class="col-md-3 col-6" >
      <div class="user-box" style="background-color:#fff;">
        <a href="/userbase" style="text-decoration: none; ">
          <h4 class="user-box-items" style="margin-bottom: 2vh; font-weight: bold;">Testimony Box</h4>
        </a>
          <h6 class="#" style="background-color:#ee8080; width:40px; margin:auto; padding:10px; border-radius:50px; color:#fff;">TB</h6> 
      </div>
    </div>
    
    <div class="col-md-3 col-6">
      <div class="user-box" style="background-color:#fff;">
        <a href="/usernewform" style="text-decoration: none;">
          <h4 class="user-box-items" style="margin-bottom: 2vh; font-weight: bold;">Prayer <br>  Wall</h4>
        </a>
          <h6 class="#" style="background-color:#ee8080; width:40px; margin:auto; padding:10px; border-radius:50px;  color:#fff;">PW</h6>
      </div>
    </div>
    
    <div class="col-md-3 col-6">
      <div class="user-box" style="background-color:#fff;">
        <a href="/usernewform" style="text-decoration: none;">
          <h4 class="user-box-items" style="margin-bottom: 2vh; font-weight: bold;">Filling Station</h4>
        </a>
          <h6 class="#" style="background-color:#ee8080; width:40px; margin:auto; padding:10px; border-radius:50px; color:#fff;">FS</h6> 
      </div>
    </div>
    
    <div class="col-md-3 col-6">
      <div class="user-box" style="background-color:#fff;">
        <a href="/usernewform" style="text-decoration: none;">
          <h4 class="user-box-items" style="margin-bottom: 2vh; font-weight: bold;">Tithe & Ofertory</h4>
        </a>
          <h6 class="#" style="background-color:#ee8080; width:40px; margin:auto; padding:10px; border-radius:50px;  color:#fff;">TO</h6> 
      </div>
    </div>
    
  </div>
<!--end of box-->
<!--ending-->
<h6 class="text-muted" style="padding-bottom:2vh; text-align:center;">Rearrange your favorite taps</h6>
<!---->
</div>

  
</div>
</div>




<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>
</html>
