<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/newstyle.css')}}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Bootstrap demo</title>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>

    <div container style="align-items: left;">
      <div style="background: #fff; border-radius: 5px; padding: 20px;">
        <div class="top">
          
        </div>
        <div class="down" style=" display: flex; grid-gap: 2px; justify-content: space-between; ">
          
        </div>
        <div class="info" style="margin-top: 2vh; text-align: center;">
          <div>
             
<h4>Add a New Alumni</h4>
<p class="text-muted" style="margin-bottom: 0;">Please fill in this form :</p>
<br>
<form action='' method="post" enctype="multipart/form-data">
  {{form.hidden_tag()}}



  <div class="form-floating mb-3" >
    {{form.fullname(class="form-control",placeholder="fullname",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Full Name</label>
  </div>
  

  <div class="form-floating mb-3">
    {{form.indexnumber(class="form-control",placeholder="INT/19/01/5837",id="floatingInput" )}}
    <label for="floatingInput" class="text-muted">Index Number</label>
  </div>


    <div class="form-floating mb-3">
      {{form.gender(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
      <label for="floatingInput" class="text-muted">Gender</label>
    </div>
    
  <div class="form-floating mb-3">
    {{form.school(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">School / Faculty</label>
  </div>

  <div class="form-floating mb-3">
    {{form.department(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Department</label>
  </div>

  <div class="form-floating mb-3">
    {{form.program(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Program</label>
  </div>

  <div class="form-floating mb-3">
    {{form.completed(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Year Completed</label>
  </div>

  <div class="form-floating mb-3">
    {{form.admitted(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Year Admitted</label>
  </div>

  <div class="form-floating mb-3">
    {{form.email(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">E-mail</label>
  </div>

  <div class="form-floating mb-3">
    {{form.telephone(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Telephone</label>
  </div>

  <div class="form-floating mb-3">
    {{form.hall(class="form-control",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Hall of Residence</label>
  </div>

  <div class="form-floating mb-3">
    {{form.nationality(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Nationality</label>
  </div>

  <div class="form-floating mb-3">
    {{form.address(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Home Address</label>
  </div>

  <div class="form-floating mb-3">
    {{form.work(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Current Place of Work</label>
  </div>

  <div class="form-floating mb-3">
    {{form.guardian(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Current Position</label>
  </div>



  <div class="form-floating mb-3">
    {{form.marital(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Marital Status</label>
  </div>

  

  <div class="form-floating mb-3">
    {{form.extra(class="form-control",placeholder="INT/19/01/5837",id="floatingInput")}}
    <label for="floatingInput" class="text-muted">Extra Curicullum Activities</label>
  </div>

  

  





  <button class="btn" style="color: #fff; background: #992621; border: none;" type="submit ">Register</button>
              
</form>




    
    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>
</html>
