<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/new.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new .css')}}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Health Management</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    
  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="/static/images/logo/favicon.ico" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="/static/css/style-prefix.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </head>
  <body>
    <script src="//code.tidio.co/z46yutguynyvhsigmqopusi6j8nnpg2c.js" async></script>
<div class="container" >
<!--hero section-->
  <div class="row" style=" border-radius:0 0 0 150px; padding: 20px; background: blue;">
    <div class="ade" style="display:flex; justify-content: space-between; margin-top:10px;">
      <img src="static/img/as.png" alt=""style="width:110px; margin-left:20px; height:120px; margin-top:20px;"  >
  
      <a href="" style="text-decoration: none; color: #fff; margin-top:40px; margin-right:px;">
       <h2>Virtual<br>Ecosystem</h2>
       <h6 style="font-size:10px;">Specialized healthcare for student made <br>Specialized healthcare for student made easy </h6>
     </a>
    </div>
  </div>
  <br>
<!--download outline-->
<div class="ade"  >
  <div class="ade"style="display: flex;  background-color: #fff; padding:30px; border-radius:20px; margin-bottom:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
    <span style="background-color:blue; width:5px; margin-right:10px;"></span>
    
<img src="static/img/as.png" style="width:16%; margin-right:10px;">
<a href="" style="text-decoration: none;  text-align:center; color: #000;">
<h5 style="text-align:left; font-size:17px;">{{current_user.name}}</h5>
<h6 style="text-align:left;font-size:10px;" class="text-muted">{{current_user.indexnumber}}</h6>
</a>
</div>
</div>


<div class="ade"  >
  <div class="ade"style="display: flex; justify-content: space-between;  background-color: #b2becc; padding:15px; border-radius:50px; margin-bottom:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
    <a href="/userbase"> <img src="static/img/arrow.png" alt=""style="width:60px; margin-left:30px; height:20px; margin-top:20px;"  ></a>
    <a href="useryeargroup">   <button class="btn" style="color: #fff; background: #ee8080; border: none; width:200px; padding:15px; margin-left: 2vw; border-radius:50px;" type="submit">Patients Report</button></a>

   </div>
</div>



<!--verse of the day-->
<div class="ade" style=" background-color: #fff; background-color: #fff; padding:30px; border-radius:20px; 
background-color: #fff; padding:30px; border-radius:20px; margin-bottom:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; ">
    <div class="ade"styzle="display: flex; justify-content: space-between;  ">
      <h6 style="text-align:left;font-size:17px;">Patient Details</h6>
<a href="" style="text-decoration: none;  text-align:center; color: #fff;">
  <h1>...</h1>
</a>
</div>
<div class="ade"style="display: flex; justify-content: space-between;  "> 
  <h6 style="text-align:left;font-size:15px;" class="text-muted">Name</h6>
  <h6 style="text-align:left;font-size:15px;" >Ohene</h6>
  
</div>
<div class="ade"style="display: flex; justify-content: space-between;  "> 
  <h6 style="text-align:left;font-size:15px;" class="text-muted">Surname</h6>
  <h6 style="text-align:left;font-size:15px;" >Mills</h6>
  
</div>
<div class="ade"style="display: flex; justify-content: space-between;  "> 
  <h6 style="text-align:left;font-size:15px;" class="text-muted">Student ID</h6>
  <h6 style="text-align:left;font-size:15px;" >INT/20/01/336</h6>
  
</div>
<div class="ade"style="display: flex; justify-content: space-between;  "> 
  <h6 style="text-align:left;font-size:15px;" class="text-muted">Date of birth</h6>
  <h6 style="text-align:left;font-size:15px;" >21/01/1897</h6>
  
</div>
<div class="ade"style="display: flex; justify-content: space-between;  "> 
  <h6 style="text-align:left;font-size:15px;" class="text-muted">Campus</h6>
  <h6 style="text-align:left;font-size:15px;" >Miosto</h6>
  
</div><br>


  <div class="ade"style="display: flex; justify-content: space-between;  ">
       
    <h6>Get More</h6>

    <button class="btn" style="color: #fff; background: #ee8080; border: none; margin-left: 2vw; border-radius:20px;" type="submit">Patient Profile</button>
</div>
  
</div>

<div class="ade"  >
  <div class="ade"style="display: flex; justify-content: space-between;  background-color: #b2becc; padding:15px; border-radius:50px; margin-bottom:20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
    <a href="/userbase"> <img src="static/img/arrow.png" alt=""style="width:60px; margin-left:30px; height:20px; margin-top:20px;"  ></a>
    <a href="useryeargroup">   <button class="btn" style="color: #fff; background: #ee8080; border: none; width:200px; padding:15px; margin-left: 2vw; border-radius:50px;" type="submit">Patients Drugs</button></a>
   </div>
</div>

</div>
<!--end of outline-->




<!--Peer Counsellors-->


<div class="ade" style=" display: flex;   overflow:auto; background-color: #fff; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
margin-bottom:20px; ">

<div class="ade"style=" background-color: #b2becc; background-color: #b2becc; margin:20px; padding:20px; border-radius:10px; width:500px;"> 
  <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:40px; "> 
    <h6 style="text-align:left;font-size:10px;" class="text-muted">5:23AM</h6>
    <h6 style="text-align:left;font-size:10px;" >Dec 21</h6>
    
  </div>
<h6 style="text-align:center;">Henry Mensah</h6>
<button class="btn" style="color: #fff; margin:auto;  width:120px; background: #ee8080; border: none; border-radius:20px;" type="submit">Active</button>
</div>


<div class="ade"style=" background-color: #b2becc; background-color: #b2becc; margin:20px; padding:20px; border-radius:10px; width:500px;"> 
  <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:40px; "> 
    <h6 style="text-align:left;font-size:10px;" class="text-muted">5:23AM</h6>
    <h6 style="text-align:left;font-size:10px;" >Dec 21</h6>
    
  </div>
<h6 style="text-align:center;">Henry Mensah</h6>
<button class="btn" style="color: #fff; margin:auto; width:120px; background: #ee8080; border: none; border-radius:20px;" type="submit">Not Active</button>
</div>

<div class="ade"style=" background-color: #b2becc; background-color: #b2becc; margin:20px; padding:20px; border-radius:10px; width:500px;"> 
  <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:40px; "> 
    <h6 style="text-align:left;font-size:10px;" class="text-muted">5:23AM</h6>
    <h6 style="text-align:left;font-size:10px;" >Dec 21</h6>
    
  </div>
<h6 style="text-align:center;">Henry Mensah</h6>
<button class="btn" style="color: #fff; margin:auto; width:120px; background: #ee8080; border: none; border-radius:20px;" type="submit">Not Active</button>
</div>
<div class="ade"style=" background-color: #b2becc; background-color: #b2becc; margin:20px; padding:20px; border-radius:10px; width:500px;"> 
  <div class="ade"style="display: flex; justify-content: space-between; margin-bottom:40px; "> 
    <h6 style="text-align:left;font-size:10px;" class="text-muted">5:23AM</h6>
    <h6 style="text-align:left;font-size:10px;" >Dec 21</h6>
    
  </div>
<h6 style="text-align:center;">Henry Mensah</h6>
<button class="btn" style="color: #fff; margin:auto; width:120px; background: #ee8080; border: none; border-radius:20px;" type="submit">Not Active</button>
</div>

</div>

<!--end of outline-->
<!--ministries row-->
</div>
<!--end of ministries-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>
</html>
<!--

wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
-->